<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tienda de Postres</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <header>
        <h1>Tienda de Postres 🍰</h1>

        <nav>
            <a href="/">Inicio</a>
            <a href="/about">Acerca</a>
            <a href="/productos">Productos</a>
            <a href="/datos">Datos</a>
            <a href="/mysql_productos">MySQL</a>

            {% if current_user.is_authenticated %}
                <span>👤 {{ current_user.nombre }}</span>
                 <a href="/logout">Cerrar sesión</a>
            {% else %}
                <a href="/login">Login</a>
                <a href="/registro">Registro</a>
            {% endif %}
        </nav>

        <hr>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <hr>
        <p>© 2026 - Proyecto Flask | Tienda de Postres</p>
    </footer>

</body>
</html>
