body {
    background-color: #fff0f5; /* rosado suave */
    font-family: 'Segoe UI', sans-serif;
}

h1, h2, h3 {
    color: #d63384; /* rosado fuerte */
}

.navbar {
    background-color: #f8c8dc !important;
}

.btn-primary {
    background-color: #ff85a2;
    border: none;
}

.btn-primary:hover {
    background-color: #ff5c8a;
}

.btn-warning {
    background-color: #ffc2d1;
    border: none;
}

.table {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.table thead {
    background-color: #ff85a2;
    color: white;
}